<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>cleareffect</string>
	<string>dahuangfeng</string>
	<string>bianhuanyanjing</string>
	<string>heimao1</string>
	<string>bixin</string>
	<string>chengshishenshi</string>
	<string>chensi</string>
	<string>dapao</string>
	<string>dayan</string>
	<string>dese</string>
	<string>errenzhuan</string>
	<string>ganga</string>
	<string>haosekoushui</string>
	<string>juanhuzi</string>
	<string>luolidashu</string>
	<string>maolihe</string>
	<string>maren</string>
	<string>mogui</string>
	<string>mojinghaitan</string>
	<string>motuo</string>
	<string>neon_spine</string>
	<string>qiqiuaixin</string>
	<string>re</string>
	<string>ruhua</string>
	<string>shengqi</string>
	<string>shenshi</string>
	<string>shiliujie</string>
	<string>shishangyj</string>
	<string>tianshi</string>
	<string>tousha</string>
	<string>tuyayanjing</string>
	<string>tuzhu</string>
	<string>weijingren</string>
	<string>weiqu</string>
	<string>wulianlu</string>
	<string>xiaokeai</string>
	<string>xiaomei</string>
	<string>xiaotiaowa</string>
	<string>xieyanmieshi</string>
	<string>xinsuiliulei</string>
	<string>xiongmaozhuzi</string>
	<string>yaobai</string>
	<string>yindian</string>
	<string>yuhangyuan</string>
	<string>yunxiong</string>
	<string>yuzhou</string>
	<string>zhaoji</string>
	<string>zhaxin</string>
</array>
</plist>
